<div class="row justify-content-center">
  <div class="login-box p-4 p-md-5">
    <div class="icon d-flex align-items-center justify-content-center">
      <span><i class="bi bi-person-bounding-box"></i></span>
    </div>
    <h3 class="text-center mb-4" style="color:orange">Have an account?</h3>
    <form class="login-form" [formGroup]="signupForm" (ngSubmit)="registerUser()">

      <div class="form-group">
        <input type="text" class="form-control" formControlName="userName" placeholder="Username" required>
        <span style="color:red" *ngIf="userName && userName.touched && userName.invalid">
          Name Is Required. min length is 5
        </span>
      </div>

      <div class="form-group">
        <input type="email" class="form-control " placeholder="Email" formControlName="email" required>
        <span style="color:red" *ngIf="email && email.touched && email.invalid">
          Email Is Required. Must Input Email type
        </span>
      </div>
      <div class="form-group d-flex">
        <input type="password" class="form-control " formControlName="password" placeholder="password" required>
      </div>
      <span style="color:red" *ngIf="password && password.touched && password.invalid">
        Password Is Required. min length is 8, With Uppercase, Lowercase, Symbol, Number
      </span>
      <div class="form-group d-md-flex">
        <div class="w-60">
          <a class="small" style="color:orange" [routerLink]="['/login']">Already have an account? Login!</a>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" (click)="errNull()" class="btn btn-primary rounded submit p-3 px-5">Register</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="toast" class="d-flex align-items-center justify-content-center">
  <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body"
      *ngIf="!errmsg.Username && !errmsg.Email && !errmsg.Password && !errmsg[0] ! && !success.register">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <div *ngIf="success.register">
      <div class="toast-body bg-info">
        <h5 class="modal-title" style="color:white" id="exampleModalLabel"> <i class="bi bi-info-circle"></i>
          {{success.register}} </h5>
      </div>
    </div>
    <div *ngIf="errmsg[0]">
      <div class="toast-body bg-danger">
        <h5 class="modal-title" style="color:white"><i class="bi bi-info-circle"></i> {{errmsg[0]}} </h5>
      </div>
    </div>
    <div *ngIf="errmsg.Username || errmsg.Email || errmsg.Password">
      <div class="toast-body bg-danger">
        <h5 class="modal-title" *ngIf="errmsg.Username" style="color:white"><i class="bi bi-info-circle"></i>
          {{errmsg.Username}} </h5>
        <h5 class="modal-title" *ngIf="errmsg.Email" style="color:white"><i class="bi bi-info-circle"></i>
          {{errmsg.Email}} </h5>
        <h5 class="modal-title" *ngIf="errmsg.Password" style="color:white"><i class="bi bi-info-circle"></i>
          {{errmsg.Password}} </h5>
      </div>
    </div>
  </div>
</div>
